<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>

<ion-content >
    <ion-searchbar #searchbar [(ngModel)]="searchInput" (ionInput)="onSearchInput($event)" (ionClear)="onSearchClear($event)"></ion-searchbar>

    <ion-card>
        <ion-list>
            <button ion-item *ngFor="let search of searchTempList" (click)="dismiss(search)">
                {{search.name || search.facultyName}}<span *ngIf="search.moduleName"> ({{search.moduleName}})</span>
            </button>
        </ion-list>
    </ion-card>

    <p *ngIf="noMatch">No Match Found</p>
    <p *ngIf="searchList.length == 0">No Data Available</p>
    
</ion-content>        
    