<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>

<ion-content>
    <ion-searchbar #searchbar [(ngModel)]="searchInput" placeholder="Search Student" (ionInput)="onSearchInput($event)" (ionClear)="onSearchClear($event)"></ion-searchbar>

<div style="height:490px;overflow:auto" padding>



        <div *ngFor="let search of searchTempList;let i=index" >

                <ion-list radio-group [(ngModel)]="search.attendance" required name="attendance{{i}}">
                        <ion-row>
                        <ion-col col-6>
                            <b style="text-transform: capitalize;">{{search.name}} </b>
                        </ion-col>
                        <ion-col col-2>
                             P
                            <ion-radio value="P">P</ion-radio>
                        </ion-col>
                        <ion-col col-2>
                            A
                            <ion-radio value="A"></ion-radio>
                        </ion-col>
                        <ion-col col-2>
                            L
                            <ion-radio value="L"></ion-radio>
                        </ion-col>
                      </ion-row>
                    </ion-list>




            <!-- <ion-label> {{search.name}} </ion-label>
            <ion-list radio-group [(ngModel)]="search.attendance">
                <ion-row>

                    <ion-col>
                        <span>P</span>
                        <ion-radio value="P">P</ion-radio>
                    </ion-col>
                    <ion-col>
                        <span>A</span>
                        <ion-radio value="A"></ion-radio>
                    </ion-col>
                    <ion-col>
                        <span>L</span>
                        <ion-radio value="L"></ion-radio>
                    </ion-col>
                </ion-row>
            </ion-list> -->
        </div>

    <p *ngIf="noMatch">No Match Found</p>
    <p *ngIf="searchList.length == 0">No Data Available</p>
</div>

<button ion-button full (click)="onSaveAndBack()">Save</button>
</ion-content>