<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>

<ion-content class="csPlainGray">

    <ion-card padding *ngIf="assessment">
        <b>{{assessment.title}}</b>
        <p>
            {{assessment.departmentName}}
        </p>
    </ion-card>
    <ion-card *ngIf="assessment">
            <ion-item>
                <ion-icon name="person" color="primary" item-start></ion-icon>
               
                    <b>Student: </b>
                    <span>{{assessment.studentName}}</span>
         
            </ion-item>

            <ion-item>
                <ion-icon name="apps" color="primary" item-start></ion-icon>
         
                    <b>Module : </b>
                    <span>{{assessment.moduleName}}</span>
            
            </ion-item>

            <ion-item>
                <ion-icon name="school" color="primary" item-start></ion-icon>

                    <b>Year: </b>
                    <span>{{assessment.yearName}}</span>
        
            </ion-item>

            <ion-item>
                <ion-icon name="analytics" color="primary" item-start></ion-icon>
          
                    <b>Program: </b>
                    <span>{{assessment.programName}}</span>
          
            </ion-item>
            <ion-item>
                    <ion-icon name="pricetag" color="primary" item-start></ion-icon>
              
                    <b>Assessment Type: </b>
                    <span>{{assessment.assesmentTypeName}}</span>
            
            </ion-item>

            <ion-item>

                    <ion-icon name="podium" color="primary" item-start></ion-icon>
                
                    <b>Weighting: </b>
                    <span>{{assessment.weighting}}</span>
             
            </ion-item>
    </ion-card>

    <ion-card *ngIf="assessment">
        <ion-card-header>Feedback</ion-card-header>
        <ion-list>
                <ion-item *ngFor="let f of assessment.feedbacks">
                        <b>
                            {{f.title}}
                        </b>
                        <p>
                            {{f.description}}
                        </p>
                    </ion-item>
        </ion-list>
    </ion-card>
</ion-content>