<ion-header>
    <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <button ion-item *ngFor="let assess of assessmentList" (click)="openSingleAssessment(assess.id)">
            <p>
                <b>Module: </b>{{assess.moduleName}}</p>
            <p>
                <b>Faculty: </b>{{assess.facultyName}}</p>
            <p>
                <b>Title: </b>{{assess.title}}</p>
        </button>
    </ion-list>

    <ion-list class="no-comment" *ngIf="assessmentList?.length==0">
        <ion-icon name="list-box"></ion-icon>
        <br>NO RECORD FOUND
    </ion-list>


    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>