<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>

<ion-content >

    <div class="no-comment" *ngIf="isCommentsEmpty">
        <ion-icon name="chatbubbles"></ion-icon>
        <br>NO COMMENT
    </div>

    <div class="message-box csTransparent" *ngFor="let comm of comments" [ngClass]="{'mine': ((isStudent && comm.studentId == selfId )|| (!isStudent && comm.employeeId == selfId) )}"
        no-margin>

        <div class="csMyComment">
            <h3>{{ comm.comment }}</h3>
        </div>

        <div class="csCommentTime">

            <span *ngIf="isStudent && comm.employeeId>=0">{{comm.employeeNickName || comm.employeeName}} </span>
            <span *ngIf="!isStudent && comm.studentId>=0">{{comm.studentName}} </span>
            <span>{{ comm.createdAt | amCalendar }}</span>
        </div>

    </div>
    <ion-spinner class="loader" name="dots" *ngIf="postInProcess"></ion-spinner>

</ion-content>

<ion-footer *ngIf="complaint.statusId != 4 && complaint.statusId != 6 " keyboard-attach style="position:fixed" class="bar-stable">

    <ion-grid>
        <ion-row>

            <ion-col col-10>
                <ion-input  [(ngModel)]="inputChat" class="csCommentInput" type="text" placeholder=" Write comment..."></ion-input>
            </ion-col>

            <ion-col>

                <button [disabled]="inputChat?.trim().length==0" (click)="postChat()" style="width: 50px !important; " class="csCommentSend"
                    color="primary" ion-button icon-only item-end>
                    <ion-icon name="md-send" role="img"></ion-icon>
                </button>

            </ion-col>

        </ion-row>
    </ion-grid>

</ion-footer>