<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title | uppercase}}</ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top color="primary">
        <ion-segment *ngIf="daysName" [(ngModel)]="selectedDay" (ionChange)="onDayChange()">  
            <ion-segment-button *ngFor="let day of daysName" [value]="day">
                <span class="textWhite">{{ day }}</span>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content class="background1">
    <ion-list>
        <ion-list-header>
            {{date | amDateFormat: 'LL'}}
        </ion-list-header>
        <ion-list no-lines>
            <ion-item-sliding *ngFor="let period of selectedDayTimetable">
                <ion-item class="timetable-item" (click)="openViewPage(period)">
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col col-4 class="border border-right-progress left-col" text-right>
                                <!-- <h2 class="textLarge">{{period.startTime}}</h2> -->
                                <span class="textGray">{{period.startTime}}-{{period.endTime}}</span>
                                <div>
                                    <span class="colorInProgress textSmall">Room No.: {{period.roomNumber}}</span>
                                </div>
                            </ion-col>
                            <ion-col col-8 col-8 class="border border-left-progress right-col">
                                <h2 class="textLarge">{{period.moduleName}}</h2>
                                <span class="textGray">
                                    <ion-icon name="person"></ion-icon>
                                    {{period.employeeName}}
                                </span>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
      <!-- <no-results *ngIf="timetableData && (!selectedDayTimetable || selectedDayTimetable?.length==0)"></no-results> -->
      <div class="no_records" *ngIf="timetableData && (!selectedDayTimetable || selectedDayTimetable?.length==0)">
        <img src="assets/images/empty.png">
        <div></div>
    </div>
    </ion-list>


</ion-content>