<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()">
    </nl-modal-navbar>
</ion-header>

<ion-content class="tt">
        <div class="ttvHeader csWhiteText" padding text-center>
                <h2 no-margin>Program: {{timeTableInfo.programName}}</h2>
                <p no-margin>Year: {{timeTableInfo.yearName}}</p>
              </div>

    <form *ngIf="facultyList" #editTimeTableForm="ngForm" (ngSubmit)="onSubmit()">

        <ion-card >
            <button ion-item type="button" (click)="onSelectFaculty()">
                <ion-label stacked>Select Faculty</ion-label>
                <ion-input [(ngModel)]="editedFacultyName" disabled required placeholder="Select Faculty " name="faculty"></ion-input>
            </button>
        </ion-card>

        <ion-item *ngIf="editedFaculty">    
            <ion-icon name="albums" color="primary" item-start></ion-icon>
            <small>Module</small>
            <h2>{{editedFaculty.moduleName}}</h2>
        </ion-item>

        <ion-list *ngIf="slots">
            <ion-item>
                    <ion-icon name="time" color="primary" item-start></ion-icon>
                <small>
                    <b>Select Day </b>
                </small>
                <ion-select  [disabled]="disableSlotDay"  [(ngModel)]="editedDay" required name="day" >
                    <ion-option *ngFor="let d of days" [value]="d">
                        {{d.day}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                    <ion-icon name="code-download" color="primary" item-start></ion-icon>
                <small>
                    <b>Select Slot </b>
                </small>
                <ion-select [(ngModel)]="editedSlot"  [disabled]="disableSlotDay" required name="slot">
                    <ion-option *ngFor="let s of slots" [value]="s">
                        {{s.startTime}}-{{s.endTime}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <div padding>
            <button ion-button full type="submit" [disabled]="editTimeTableForm.invalid || !editedFacultyName">EDIT</button>
        </div>
    </form>
</ion-content>