<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()">
    </nl-modal-navbar>
</ion-header>

<ion-content class="csGrayBackground">


    <ion-card>
        <ion-label> Program: {{timeTableInfo.programName}}</ion-label>
        <ion-label> Year: {{timeTableInfo.yearName}}</ion-label>
    </ion-card>
    <form *ngIf="facultyList" #editTimeTableForm="ngForm" (ngSubmit)="onSubmit()">

        <ion-card >
            <button ion-item type="button" (click)="onSelectFaculty()">
                <ion-label stacked>Select Faculty</ion-label>
                <ion-input [(ngModel)]="editedFacultyName" disabled required placeholder="Select Faculty " name="faculty"></ion-input>
            </button>
        </ion-card>

        <ion-item *ngIf="editedFaculty">    
            <ion-label>Module: {{editedFaculty.moduleName}}</ion-label>
        </ion-item>

        <ion-card *ngIf="slots">
            <ion-item>
                <ion-label>
                    <b>Select Day </b>
                </ion-label>
                <ion-select [(ngModel)]="editedDay" [disabled]="disableSlotDay" required name="day">
                    <ion-option *ngFor="let d of days" [value]="d">
                        {{d.day}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>
                    <b>Select Slot </b>
                </ion-label>
                <ion-select [(ngModel)]="editedSlot"  [disabled]="disableSlotDay" required name="slot">
                    <ion-option *ngFor="let s of slots" [value]="s">
                        {{s.startTime}}-{{s.endTime}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <div padding>
            <button ion-button full type="submit" [disabled]="editTimeTableForm.invalid || !editedFacultyName">EDIT</button>
        </div>
    </form>
</ion-content>