<ion-header>
  <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="csPlainGray">
  <ion-card class="csProfileCard ">
    <div class="csCenter csProfileHeader">
      <div class="csAccBgImg">
        <br>
        <img [src]="userImage" (click)="onImageClick()" class="csAccImg csCenter">
        <div class="csAccName" text-center>{{name | titlecase}}
          <br>
          <span class="csWhiteText" text-center *ngIf="nickName">({{nickName | titlecase}})</span>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-card class="csProfileCardDetails" *ngFor="let detail of moreDetails ">
        <ion-item class="csPlainGray">
          <ion-avatar item-left>
            <ion-icon class="csProfileIcon" [name]="detail.icon"></ion-icon>
          </ion-avatar>
          <span class="csProfileTitle">{{detail.name}}</span>
          <h2>{{detail.value}}</h2>
          <button ion-button clear item-end color="primary" (click)="onPwdChange()" *ngIf="detail.name==='Password'">
            <ion-icon name="create" class="csEditButton"></ion-icon>
          </button>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-card>
  <div padding>
    <button ion-button icon-left color="primary" full type="button" (click)="onLogOut()">
      <ion-icon name="power"></ion-icon>
      <b>Logout</b>
    </button>
  </div>
</ion-content>
