<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>

<ion-content class="csPlainGray">

    <form #newSurveyForm="ngForm" (ngSubmit)="onSubmit()">

        <ion-card>
            <ion-item>
                <ion-label stacked>
                    <b>Title</b>
                    <ion-badge  class="csRight">{{200 - title?.length}}</ion-badge>
                </ion-label>
                <ion-textarea [(ngModel)]="surveyTitle" placeholder="Add Title" maxlength=200 required name="title"></ion-textarea>
                
            </ion-item>
            <ion-item>
                <ion-label stacked>
                    <b>Description</b>
                    <ion-badge class="csRight">{{2500 - description?.length}}</ion-badge>
                </ion-label>
                <ion-textarea rows=3 [(ngModel)]="description" placeholder="Add Description" maxlength=2500 required name="description"></ion-textarea>
            </ion-item>
        </ion-card>



        <form #questionSubForm="ngForm">
                <ion-card *ngFor="let q of questions; let i = index">
            <ion-list>
                
                    <ion-item>
                        <ion-label stacked>
                            <b>Question {{i+1}}</b>
                            <ion-badge  class="csRight">{{200 - q.question?.length}}</ion-badge>
                        </ion-label>
                        <ion-textarea [(ngModel)]="q.question" placeholder="Enter Question" maxlength=200 required name="question{{i}}"></ion-textarea>
                        <button *ngIf="i>1" ion-button round small icon-only item-end (click)="removeQuestion(i)">
                            <ion-icon name="close"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked>
                            <b>Select Option Type</b>
                        </ion-label>
                        <ion-select [(ngModel)]="q.optionTypeId" required name="optionType{{i}}">
                            <ion-option *ngFor="let optionType of optionTypesPossible" [value]="optionType.id">
                                {{optionType.name}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                            <ion-item *ngFor="let option of q.subOptions;let j = index">
                                <ion-label stacked>
                                    <b>Option {{j+1}}</b>
                                </ion-label>
                                <ion-textarea [(ngModel)]="option.choice" placeholder="Enter option" maxlength=100 required name="option{{i}}{{j}}">
                                </ion-textarea>
                                <button *ngIf="j>1" ion-button icon-only item-end (click)="removeOptionSurvey(i,j)">
                                    <ion-icon name="close"></ion-icon>
                                </button>
                            </ion-item>

                        <button type="button" *ngIf="q.subOptions.length<=optionLimit - 1" ion-button clear icon-left (click)="onAddOptionBtnSurvey(i)">
                            <ion-icon name="add"></ion-icon> Add Option
                        </button>
            </ion-list>
        </ion-card>
            <button type="button" *ngIf="questions.length<6" [disabled]="!questionSubForm.valid" ion-button clear icon-left (click)="onAddQuestion()">
                <ion-icon name="add"></ion-icon> Add Question
            </button>

        </form>

        <ion-card>
            <ion-item>
                <ion-label>
                    <b>Due Date</b>
                </ion-label>
                <ion-datetime max="2018" [min]="todayDate()" displayFormat="MMM DD YYYY" pickerFormat="DD MMM YYYY" name="expireDate" [(ngModel)]="expireDate"></ion-datetime>
            </ion-item>
        </ion-card>


        <ion-card *ngIf="audienceList">
            <ion-item>
                <ion-label>
                    <b>Poll For</b>
                </ion-label>
                <ion-select [disabled]="amyDisabled" [(ngModel)]="mainAudience" (ionChange)="onAudienceChange()" required name="mainAudience">
                    <ion-option *ngFor="let audience of audienceList" [value]="audience">{{audience.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <div *ngIf="departmentList && mainAudience.id == 2">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Departments</b>
                    </ion-label>
                    <ion-select [(ngModel)]="departmentIds" multiple required name="departments">
                        <ion-option *ngFor="let dep of departmentList" [value]="dep.id">{{dep.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf="mainAudience?.subAudience && (mainAudience.id == 1 || mainAudience.id == 2)">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Subcategories</b>
                    </ion-label>
                    <ion-select [(ngModel)]="audienceIds" multiple required name="subCategory">
                        <ion-option *ngFor="let subCat of mainAudience.subAudience" [value]="subCat.id">{{subCat.name }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf=" programList && mainAudience?.id == 3 ">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Programs</b>
                    </ion-label>
                    <ion-select [(ngModel)]="programIds" multiple required name="programs">
                        <ion-option *ngFor="let pgm of programList" [value]="pgm.id">{{pgm.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf=" mainAudience?.id == 3 ">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Years</b>
                    </ion-label>
                    <ion-select [(ngModel)]="yearIds" multiple required name="years">
                        <ion-option *ngFor="let y of yearList" [value]="y.id">{{y.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf=" mainAudience?.id == 4 && yearsListForModule">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Year</b>
                    </ion-label>
                    <ion-select [disabled]="amyDisabled" [(ngModel)]="yearForModule" (ionChange)="onYearForModuleChange()" required name="yearsModule">
                        <ion-option *ngFor="let y of yearsListForModule" [value]="y">{{y.name || y.yearName}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf=" mainAudience?.id == 4 && yearForModule">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Modules</b>
                    </ion-label>
                    <ion-select [disabled]="amyDisabled" [(ngModel)]="moduleIds" multiple required name="years">
                        <ion-option *ngFor="let module of modulesObject[yearForModule.id || yearForModule.yearId]" [value]="module.moduleId || module.id">{{module.moduleName || module.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <!--












        <ion-card>
            <ion-item>
                <ion-label>
                    <b>Select Option Type</b>
                </ion-label>
                <ion-select [(ngModel)]="optionTypeId" required name="optionType">
                    <ion-option *ngFor="let optionType of optionTypesPossible" [value]="optionType.id">
                        {{optionType.name}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-list>
                <ion-item *ngFor="let option of options;let i = index">

                    <ion-label stacked>
                        <b>Option {{i+1}}</b>
                    </ion-label>
                    <ion-textarea [(ngModel)]="option.choice" placeholder="Enter option" maxlength=100 required name="option{{i}}">
                    </ion-textarea>
                    <button *ngIf="i>1" ion-button icon-only item-end (click)="removeOption(i)">
                        <ion-icon name="close"></ion-icon>
                    </button>
                </ion-item>

            </ion-list>
            <button type="button" *ngIf="options.length<=optionLimit - 1" ion-button clear icon-left (click)="onAddOptionBtn()">
                <ion-icon name="add"></ion-icon> Add Option
            </button>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-label>
                    <b>Due Date</b>
                </ion-label>
                <ion-datetime max="2018" [min]="todayDate()" displayFormat="MMM DD YYYY" pickerFormat="DD MMM YYYY" name="expireDate" [(ngModel)]="expireDate"></ion-datetime>
            </ion-item>
        </ion-card>


        <ion-card *ngIf="audienceList">
            <ion-item>
                <ion-label>
                    <b>Poll For</b>
                </ion-label>
                <ion-select [(ngModel)]="mainAudience" (ionChange)="onAudienceChange()" required name="mainAudience">
                    <ion-option *ngFor="let audience of audienceList" [value]="audience">{{audience.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <div *ngIf="departmentList && mainAudience.id == 2">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Departments</b>
                    </ion-label>
                    <ion-select [(ngModel)]="departmentIds" multiple required name="departments">
                        <ion-option *ngFor="let dep of departmentList" [value]="dep.id">{{dep.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf="mainAudience?.subAudience && (mainAudience.id == 1 || mainAudience.id == 2)">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Subcategories</b>
                    </ion-label>
                    <ion-select [(ngModel)]="audienceIds" multiple required name="subCategory">
                        <ion-option *ngFor="let subCat of mainAudience.subAudience" [value]="subCat.id">{{subCat.name }}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf=" programList && mainAudience?.id == 3 ">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Programs</b>
                    </ion-label>
                    <ion-select [(ngModel)]="programIds" multiple required name="programs">
                        <ion-option *ngFor="let pgm of programList" [value]="pgm.id">{{pgm.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf=" mainAudience?.id == 3 ">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Years</b>
                    </ion-label>
                    <ion-select [(ngModel)]="yearIds" multiple required name="years">
                        <ion-option *ngFor="let y of yearList" [value]="y.id">{{y.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf=" mainAudience?.id == 4 && yearsListForModule">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Year</b>
                    </ion-label>
                    <ion-select [(ngModel)]="yearForModule" (ionChange)="onYearForModuleChange()" required name="years">
                        <ion-option *ngFor="let y of yearsListForModule" [value]="y">{{y.name || y.yearName}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div *ngIf=" mainAudience?.id == 4 && moduleList">
            <ion-card>
                <ion-item>
                    <ion-label>
                        <b>Select Modules</b>
                    </ion-label>
                    <ion-select [(ngModel)]="moduleIds" multiple required name="years">
                        <ion-option *ngFor="let module of moduleList" [value]="module.moduleId">{{module.moduleName}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </div>

        <div padding>
            <button [disabled]="!newPollForm.valid" ion-button full type="submit">Submit</button>
        </div>
    -->


        <div padding>
            <button [disabled]="!newSurveyForm.valid" ion-button full type="submit">Submit</button>
        </div>
    </form>

</ion-content>