<button ion-button color="cool" (click)="openCommentModal()">
      <ion-icon name="ios-chatbubbles" class="csBigIcon"></ion-icon>
      Comments
    </button>


<button ion-button *ngIf="complaint.statusId == 4" color="danger" (click)="openReopenModal(complaint)">
    <ion-icon name="ios-thumbs-down" class="csBigIcon"></ion-icon>
    Reopen
  </button>

<button ion-button *ngIf="complaint.statusId != 6 && complaint.statusId != 4" color="secondary" (click)="openCloseModal(complaint)">
      <ion-icon name="md-close" class="csBigIcon"></ion-icon>
      Close
    </button>

<button ion-button *ngIf="complaint.statusId === 4" color="primary" (click)="openSatisfiedModal(complaint)">
      <ion-icon name="ios-thumbs-up" class="csBigIcon"></ion-icon>
      Satisfied
    </button>