@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .animated-fast{
    animation-duration: 0.4s;
    animation-fill-mode: both;
  }

.no_records{
    margin-top:10%;
    transition:0.3s ease-in;
    img{
        @extend .csCenter;
        // @extend .rubberBand;
        // @extend .animated;
        animation-delay: 0.2s;
        width:50%;
    }
    div{
        text-align:center;
        color:#999999;
        font-size:1.1em;
    }
    div:after{
        content:'No Record Found';
    }
}