<ion-header>
    <nl-navbar [title]="title"></nl-navbar>
    <ion-searchbar [(ngModel)]="searchInput" (ionInput)="onSearchInput($event)" [debounce]="debounceDuration"  (ionClear)="onSearchClear($event)" ></ion-searchbar>
    <sort-filter (onSelect)="onSortFilterSelect($event)"></sort-filter>
    
</ion-header>

<ion-content class="csGrayBackground">
    
    <ion-spinner  name="dots" *ngIf="searchInProcess"></ion-spinner>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-fab bottom right>
        <button ion-fab color="danger" (click)="openNewComplaintModal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-list class="suggestion-list">
        <!-- here, complaiontList is referring to suggestionList-->
        <ion-item-sliding *ngFor="let suggestion of complaintList; let i =index">

            <a ion-item (click)="openViewModal(suggestion, i)" [style.border-left-color]="suggestion.statusColor">
                <h2 *ngIf="suggestion.againstCategoryId != 2"><b>{{suggestion.againstCategoryName}}</b></h2>
                <h2 *ngIf="suggestion.againstCategoryId == 2"><b>{{suggestion.againstEmployeeName}}</b></h2>

                <h3>{{suggestion.title}}</h3>

                <ion-row>
                    <ion-col width-50 class="no-padding-l csGray5353">
                        <ion-icon name="clock"></ion-icon><span>{{suggestion.createdAt | amTimeAgo}}</span>
                    </ion-col>
                    <ion-col width-50 class="no-padding-l" [style.color]="suggestion.statusColor">
                        <ion-icon name="at"></ion-icon><span>{{suggestion.statusName}}</span>
                    </ion-col>
                </ion-row>
            </a>

            <ion-item-options side="right">
                <c-s-options [complaint]="suggestion" [complaintIndex]="i"></c-s-options>
            </ion-item-options>

        </ion-item-sliding>

        <div *ngIf="isEmptyList">
            <ion-icon name="happy"></ion-icon>
            <br>NO RECORD FOUND
        </div>

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>