<ion-list>
    <button *ngFor="let circular of circularList" ion-item (click)="openViewCircular(circular.id)" [style.border-left-color]="circular.mainAudienceColor">
        <h2>
            <b>{{circular.title}}</b>
        </h2>
        <p>Effective Date: {{circular.date}}</p>
        <div>
            <ion-icon name="at"></ion-icon>
            <span>{{circular.mainAudienceName}}</span>
        </div>
        <p>Created By: {{circular.employeeUsername}}</p>
    </button>
</ion-list>

<ion-list class="no-comment" *ngIf="circularList?.length==0">
    <ion-icon name="list-box"></ion-icon>
    <br>NO RECORD FOUND
</ion-list>