<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()">
    </nl-modal-navbar>
</ion-header>

<ion-content class="tt">

        <div  *ngIf="timeTableInfo" class="ttvHeader csWhiteText" padding text-center>
                <h2 no-margin>{{timeTableInfo.moduleName}}</h2>
                <p no-margin>{{timeTableInfo.yearName}} Year</p>
              </div>



    <ion-slides>

        <ion-slide>
                <ion-item>
                        <ion-icon item-start name="clock" color="primary"></ion-icon>
                        <small>Select Date </small>
                        <ion-datetime [max]="todayDate()" [(ngModel)]="date" (ionChange)="onDateChange()" displayFormat="MMM DD YYYY" pickerFormat="DD MMM YYYY"></ion-datetime>
                        <ion-icon item-end name="arrow-down" color="primary"></ion-icon>
                    </ion-item>


<ion-card *ngIf="totalStudents">
    <ion-item>
        <ion-icon item-start name="people" color="primary"></ion-icon>
        <b>Attendance</b>
        <span item-end>{{presentStudents}}/{{totalStudents}}</span>
    </ion-item>
</ion-card>

<div *ngIf="attendanceList && attendanceList.length!=0">
        <small>Select student to edit the attendance</small>
        <ion-searchbar placeholder="Enter Name" [(ngModel)]="searchInput" (ionInput)="onSearchInput($event)" (ionClear)="onSearchClear($event)"></ion-searchbar>
    </div>
    <ion-list>
        <button ion-item *ngFor="let at of attendanceListTemp" (click)="onStudentSelect(at)">
            <p>{{at.studentName}} ({{at.studentId}})<span item-right>{{at.attendance}}</span></p>
        </button>
    </ion-list>

            <ion-list *ngIf="attendanceList && attendanceList.length==0">
                <ion-item text-wrap>
                    <ion-label>ATTENDANCE HASN'T BEEN UPLOADED YET FOR THIS DATE</ion-label>
                </ion-item>
            </ion-list>
        </ion-slide>
        
        <ion-slide>
            <ion-card *ngIf="selectedStudent">
                <ion-item>
                        <ion-icon item-start name="finger-print" color="primary"></ion-icon>
                        <small>ID</small>
                        <h2 style="text-transform: capitalize;">{{selectedStudent.studentId}}</h2>
                </ion-item>
                <ion-item>
                        <ion-icon item-start name="person" color="primary"></ion-icon>
                        <small>Name</small>
                        <h2>{{selectedStudent.studentName}}</h2>
                </ion-item>
                <ion-item>
                        <ion-icon item-start name="flash" color="primary"></ion-icon>
                        <small>CURRENT ATTENDANCE</small>
                        <h2>{{selectedStudent.attendance}}</h2>
                </ion-item>
                <ion-list radio-group [(ngModel)]="editedAttendance">
                    <small>EDIT ATTENDANCE</small>
                        <ion-item>
                            <ion-label>P</ion-label>
                            <ion-radio value="P"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>A</ion-label>
                            <ion-radio value="A"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>L</ion-label>
                            <ion-radio value="L"></ion-radio>
                        </ion-item>
    
                    </ion-list>
            </ion-card>
            <button ion-button full (click)="onEditBtn()">EDIT</button>
        </ion-slide>
    </ion-slides>

</ion-content>