<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()">
    </nl-modal-navbar>
</ion-header>

<ion-content class="csGrayBackground">

    <ion-card *ngIf="timeTableInfo">
        <h4>Module: {{timeTableInfo.moduleName}}</h4>
        <h4>Year: {{timeTableInfo.yearName}}</h4>
    </ion-card>

    <ion-slides>

        <ion-slide>
            <ion-card>
                <ion-item>
                    <ion-label> Select Date </ion-label>
                    <ion-datetime [max]="todayDate()" [(ngModel)]="date" (ionChange)="onDateChange()" displayFormat="MMM DD YYYY" pickerFormat="DD MMM YYYY"></ion-datetime>
                </ion-item>
            </ion-card>
            <div *ngIf="totalStudents">
                <h6 >Total Students: {{totalStudents}}</h6>
                <h6 >Present Students: {{presentStudents}}</h6>
            </div>

            <div *ngIf="attendanceList && attendanceList.length!=0">
                <ion-label>Select student to edit the attendance</ion-label>
                <ion-searchbar placeholder="Enter Name" [(ngModel)]="searchInput" (ionInput)="onSearchInput($event)" (ionClear)="onSearchClear($event)"></ion-searchbar>
            </div>

            <ion-list>
                <button ion-item *ngFor="let at of attendanceListTemp" (click)="onStudentSelect(at)">
                    <p>{{at.studentName}} ({{at.studentId}})<span item-right>{{at.attendance}}</span></p>
                </button>
            </ion-list>

            <ion-list *ngIf="attendanceList && attendanceList.length==0">
                <ion-item text-wrap>
                    <ion-label>ATTENDANCE HASN'T BEEN UPLOADED YET FOR THIS DATE</ion-label>
                </ion-item>
            </ion-list>
        </ion-slide>
        
        <ion-slide>
            <div *ngIf="selectedStudent">
                <button style="margin-right: 20em" ion-button clear (click)="goToList()">
                    <ion-icon name="arrow-back"></ion-icon>
                      Back
                </button>
                <h1>ID: {{selectedStudent.studentId}}</h1>
                <h1>NAME: {{selectedStudent.studentName}}</h1>
                <h4>CURRENT ATTENDANCE: {{selectedStudent.attendance}}</h4>
                <h4>EDIT ATTENDANCE</h4>
                <ion-list radio-group [(ngModel)]="editedAttendance">
                    <ion-item>
                        <ion-label>P</ion-label>
                        <ion-radio value="P"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>A</ion-label>
                        <ion-radio value="A"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>L</ion-label>
                        <ion-radio value="L"></ion-radio>
                    </ion-item>

                </ion-list>
            </div>
            <button ion-button full (click)="onEditBtn()">EDIT</button>
        </ion-slide>
    </ion-slides>

</ion-content>