.timeline{
    list-style-type: none;
    padding-left:0px;
    margin-left:30px;
     border-left:2px solid lightgray;
}
.timeline li{
	margin-bottom:25px;
    position:relative;
    padding-left:20px;
}
.timeline li p{
    font-size: 12px;
    color: gray;
}
.timeline li:before{
	position:absolute;
    content:'';
    width:10px;
    height:10px;
    border-radius:50%;
    border:2px solid white;
    background:color($colors,primary);
    left:-8px;
    top:50%;
    transform:translateY(-50%);
    box-shadow: 0 1px 20px color($colors,primary);
}