// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Primary color for whatsApp color: #13665c

$colors: (
  primary:    #9362F6,
  secondary:  #fff,
  danger:     #f53d3d,
  light:      #fff,
white
  dark:       #222,
  cool:       #607D8B,
  fab:        #3e9e3e,
  header:     #387ef5,
  // color1:     #00bcd4,
  colorLight: #80deea,
  transparent: rgba(0, 0, 0, 0),
  csStripColor:#797d80,






  facebook:   #3a589b,
  twitter:    #55acef,
  google:     #dc4e42,
  // color2:        #673AB7,
  // color3:        #03A9F4,
  // color4:        #4CAF50,
  // color5:        #FFEB3B,
  // color6:        #FF5722,
  color7:        #607D8B,
  color8:        #E91E63,
  color9:        #3F51B5,
  color10:        #00BCD4,
  color11:        #8BC34A,
  color12:        #FFC107,
  color13:        #795548,
  color14:        #9C27B0,
  color15:        #2196F3,
  color16:        #009688,
  color17:        #CDDC39,
  color18:        #FF9800,
  color19:        #9E9E9E,


  color1: #9362F6,
  color2: #F9DD6A,
  color3: #9BDFEC,
  color4: #BEA1FC,
  color5: #F894BC,
  color6: #fca2a2,



);

$color0 :       #fd4544;
$color1 :       #9362F6;
$csPink:        #f6c2d8;
$csDarkPink:    #d35a7b;
$colorLight:    #00acc1;
$dim:           #dddddd;
$csBlue:        #37cbff;
$csGreen:       #47c947;
$csGray:        #818181;
$csDark:          #000;
$csBorder:        #ffd180;
$csBackgroundColor: #f0f0f0;
$csStripColor:#f8f8f8;
$csDarkStrip:#dedede;
// $csPlannerColor1: #7babed;
// $csPlannerColor2: #fff;
 $csPlannerColor1: $csDarkPink;
 $csPlannerColor2: $csPink;
$csTransparentWhite: rgba(255, 255, 255, 0.66);

$csInputIconSize: 25px;
$csTop:           5px;

$csZindex: 10;

$toolbar-ios-height: 56px;
$toolbar-ios-title-font-size: 1.6rem;
$toolbar-md-title-font-size: 1.6rem;
$tabs-ios-tab-min-height: 4.6rem;
$toolbar-md-height: 64px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";


//Defined Function
@function csBackgroundSvg($image){
    @return url('../assets/svg/'+$image);
}

@function csBackgroundImage($image){
    @return url('../assets/images/'+$image);
}


ion-header{
  box-shadow: 0 0px 35px color($colors,primary);
}

ion-searchbar{
  background:color($colors,primary) !important;
}