$csBoardColor:#3f3f3f;

ion-note {
  ion-icon {
    margin-right: 3px;
  }
  span {
    top: -1px;
    position: relative;
  }
  font-size: $font-sm;
  align-self: flex-start;
}

.complaint-list,
.suggestion-list {
  ion-item-sliding {
    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a {
      .item-inner {
        border-left-color: $inherit;
        .input-wrapper {
          border-left-color: $inherit;
          ion-label {
            border-left: 3px solid;
            border-left-color: $inherit;
            padding: 0px 5px 0px 10px;
          }
        }
      }
    }
    nl-edit-button,
    nl-comment-button,
    nl-close-button,
    nl-reopen-button,
    nl-satisfied-button {
      height: 100%;
    }
  }
}

.view-complaint {
  background: $csBackgroundColor;
  div[flex]{
    display:flex;
    justify-content: space-between;
    align-items:center;
    align-content:center;
    color:white;
    div{
      flex-grow:1;
    }
    h1{
      ion-icon{
        font-size:50px;
      }
    }
    button{
      margin:10px 2px 5px 2px;
      width:100%;

      border: 1px solid;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21), 0 0 0 0 transparent;
      background: color($colors,secondary);
    }
    button:hover, button:active{
      color:color($colors,secondary) !important;
      background:transparent;
      border-color:1px solid color($colors,secondary) !important;
    }
  }
  ion-label{
    margin: 11px 8px 11px 11px;
  }
  div[date]{
    font-size:12px;
    color:white;
  }

  ion-card {
    ion-item {
      h2 {
        font-size: 1.4rem;
        white-space: normal;
        line-height: 20px;
        pre {
          overflow: visible;
          white-space: pre-line;
          line-height: 20px;
          margin: 0px;
        }
      }
    }
  }
}

.complaint-item {
  hr {
    height: 1px;
  }
  span {
    position: $absolute;
    top: 12px;
    left: 30px;
    font-size: 1.4rem;
    background: $background-color;
    font-weight: 600;
    padding: 0px 5px 0px 5px;
  }
  padding-bottom: 6px;
}

.list-ios ion-item-sliding,
.list-md ion-item-sliding,
.list-wp ion-item-sliding {
  box-shadow: 0px 0px 1px #bbbbbb;
}

.item-ios,
.item-wp,
.item-md {
  h2 {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    color: $csBoardColor;
  }
}

.new-complaint ion-item ion-badge {
  float: right;
}

.csInput-title {
  width: 95%;
}

.csFiftyLimit {
    float: right;
    margin-top: -5px;
    margin-right: 5px;
    margin-bottom: -15px;
}

div {
  .csSlideClose {
    background-color: $color0;
  }
}

.csBottom-card {
  font-size: 15px !important;
}

.csParagraph {
  white-space: pre-line;
}

//Ionic Changes:
.item-inner {
  border-bottom: none;
}

.new-list {
  .item-block .item-inner,
  .list-md .item-block .item-inner {
    border-bottom: none;
  }
}

.csRemoveBottom {
  border-bottom: none;
}

.csInProgress {
  border-bottom: none !important;
}

.csStudentDetail {
    .item-inner {
    border-bottom: 0px !important;
    }   
  height: 230px !important; //150 in case of white item
    display: block; //remove it
  position: relative; //remove it
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #c8c7cc !important;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.csViewComponentAvatar {
  font-size:80px;
}
.csStatus{
    position: absolute;
    top: 10px;
    right: 10px;
}
.csStudentButtons{
    box-shadow: 0px 3px 3px grey;
    margin-top: -35px !important;
    .item-inner{
        border:0px !important;
    }
}

.csAvatarImage{
  width: 100px;
    border-radius: 100%;
    height: 100px;
    border: 3px solid white;
}

.csFont24{
  font-size:24px;
}

.csPaddingWhite{
  padding-top:40px;
  color:white;
}

.csVieCompBtn{
  background:white;
  border:solid 1px;
}

.csFont12{
  font-size:12px;
}
.csColorDim{
  color:#d3d8e0;
}
