<ion-list>
    <div *ngFor="let appr of appreciationList">
        <ion-badge>
                <b text-center>{{ appr.studentName || appr.facultyName }}</b>
        </ion-badge>
        <ion-card padding>
        <img pic class="csAppImg csCenter" [src]="appr.facultyPicUrl || appr.studentPicUrl || defaultUserImage" />
        <div>
            <b> {{appr.title}}</b>
            <p>{{appr.description}}</p>
        </div>
                <p>{{appr.createdAt | amDateFormat:'LL'}}</p>
    </ion-card>
    </div>
</ion-list>

<ion-list class="no-comment" *ngIf="appreciationList?.length==0">
    <ion-icon name="list-box"></ion-icon>
    <br>NO RECORD FOUND
</ion-list>