<ion-header>
    <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="csPlainGray">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="openNewAssignmentModal()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <ion-list>
        <ion-card *ngFor="let assign of assignmentList" padding>
            <h2>
                <b>{{ assign.moduleName }} </b>
                <ion-badge class="csRight">{{ assign.yearName }} Year</ion-badge>
            </h2>
            <h4>{{ assign.createdAt | amDateFormat: 'LL' }} <span *ngIf="assign.dueDate">- {{ assign.dueDate | amDateFormat: 'LL' }}</span></h4>
            <p>{{ assign.description }}</p>
        </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>