<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>

<ion-content >
        <ion-fab bottom right>
                <button ion-fab (click)="showInfo=!showInfo">
                  <ion-icon name="add" name="information-circle"></ion-icon>
                </button>
              </ion-fab>
    <ion-card *ngIf="survey && showInfo" class="info fadeInDown animated-fast">

        <ion-card-header>
            <h2>{{survey.title}}</h2>
            <small>{{survey.description}}</small>
        </ion-card-header>

        <ion-card-content no-padding>

            <ion-item class="csTransparent">
                <ion-icon name="clock" item-start color="primary"></ion-icon>
                    <small>Created </small>
                    <br>
                    <span>{{survey.createdAt | amTimeAgo}}</span>
            </ion-item>

            <ion-item *ngIf="survey.expiredAt" class="csTransparent">
                <ion-icon name="clock" item-start color="primary"></ion-icon>
            
                    <small>Expires</small>
                    <br>
                    <span>{{survey.expiredAt | amDateFormat: 'LL'}}</span>
              
                <button *ngIf="!isExpired" ion-button clear item-end (click)="editExpiryDate()">EDIT</button>
            </ion-item>

            <!-- <ion-item>
                <ion-icon name="person" item-start></ion-icon>
                <p>
                    <b>Created By: </b>
                    <span>{{survey.employeName}}</span>
                </p>
            </ion-item> -->


            <ion-item>
                <ion-icon name="people" item-start color="primary"></ion-icon>
               
                    <small>Audience </small>
                    <br>
                    <span>{{survey.mainAudienceName}}</span>
             
            </ion-item>

            <ion-item *ngIf="survey.audiences">
                <ion-icon name="people" item-start color="primary"></ion-icon>
                <small>SubAudience </small>
                <div *ngFor="let aud of survey.audiences">{{aud}}</div>
            </ion-item>

            <ion-item *ngIf="survey.departments">
                <ion-icon name="folder" item-start color="primary"></ion-icon>
                <small>Departments</small>
                <div *ngFor="let dep of survey.departments">{{dep}}</div>
            </ion-item>

            <ion-item *ngIf="survey.programs">
                <ion-icon name="folder" item-start color="primary"></ion-icon>
                <small>Programs</small>
                <div> *ngFor="let pgm of survey.programs">{{pgm}}</div>
            </ion-item>


            <ion-item *ngIf="survey.modules">
                <ion-icon name="folder" item-start color="primary"></ion-icon>
                    <small>Modules </small>
                <div *ngFor="let md of survey.modules">{{md}}</div>
            </ion-item>

            <ion-item *ngIf="survey.years">
                <ion-icon name="folder" item-start color="primary"></ion-icon>
                    <small>Years</small>
                <div *ngFor="let y of survey.years">{{y}}</div>
            </ion-item>

            <ion-datetime #dateTime max="2018" [min]="todayDate()" displayFormat="DD MMM YYYY" [(ngModel)]="newExpiryDate" doneText="Update"
                (ionChange)="updateExpiryDate()" hidden></ion-datetime>
        </ion-card-content>
    </ion-card>



    <ion-card *ngFor="let q of survey?.questions">


            <ion-card-header>
                <h2>{{q.question}}</h2>
                <small>{{q.optionTypeName}}</small>
            </ion-card-header>
            <ion-list>
                <ion-item *ngFor="let option of q.options">
   
                            <p left>{{option.name}}</p>
  
                            
                    <div result>
                            <progress-bar [progress]="option.percent"></progress-bar>
                            <div>{{option.percent}}%</div>
                        </div>
                    
                </ion-item>
            </ion-list>
  

    </ion-card>
</ion-content>