<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>

<ion-content class="csGrayBackground">

    <form #newAppreciationForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="years">

        <ion-card>
            <ion-item>
                <ion-label>Select Year</ion-label>
                <ion-select [(ngModel)]="selectedYear" (ionChange)="getModules()" required name="year">
                    <ion-option *ngFor="let y of years" [value]="y">
                        {{y.name || y.yearName}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <ion-card *ngIf="modules">
            <ion-item>
                <ion-label>Select Module</ion-label>
                <ion-select [(ngModel)]="selectedModule" (ionChange)="getStudents()" required name="module">
                    <ion-option *ngFor="let m of modules" [value]="m">
                        {{m.name || m.moduleName}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-card>

        <ion-card *ngIf="students">
            <ion-item>
                <ion-label>Student</ion-label>
                <ion-input [(ngModel)]="selectedStudentName" disabled placeholder="Select Student" (tap)="openSelectionPage()" required name="student">
                </ion-input>
            </ion-item>
        </ion-card>

        <ion-card *ngIf="years">
            <ion-item>
                <ion-label stacked>Title</ion-label>
                <ion-input [(ngModel)]="appreciationTitle" placeholder="Enter Title" maxlength="50" required name="title">
                </ion-input>
                <ion-badge item-end>{{50 - appreciationTitle?.length}}</ion-badge>

            </ion-item>
        </ion-card>

        <ion-card *ngIf="years">
            <ion-item>
                <ion-label stacked>Description</ion-label>
                <ion-textarea rows="5" [(ngModel)]="appreciationDescription" placeholder="Enter Description" maxlength="2500" required name="description">
                </ion-textarea>
                <ion-badge item-end>{{2500 - appreciationDescription?.length}}</ion-badge>
            </ion-item>
        </ion-card>


        <div padding>
            <button [disabled]="!newAppreciationForm.valid || !selectedStudent" ion-button full type="submit">Submit</button>
        </div>
    </form>

</ion-content>