<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()">
    </nl-modal-navbar>
</ion-header>

<ion-content class="csGrayBackground">

    <ion-card *ngIf="circular">
        <ion-card-content>

            <ion-card-title>
                    Title: {{circular.title}}
            </ion-card-title>

            <ion-item>
                <p>Description: {{circular.description}}</p>
            </ion-item>

            <ion-item>
                <ion-icon name="clock" item-start></ion-icon>
                <p>
                    <b>Created : </b>
                    <span>{{circular.createdAt | amTimeAgo}}</span>
                </p>
            </ion-item>

            <ion-item *ngIf="circular.expiredAt">
                <ion-icon name="clock" item-start></ion-icon>
                <p>
                    <b>Effective Date: </b>
                    <span>{{circular.date | amDateFormat: 'LL'}}</span>
                </p>
            </ion-item>

            <ion-item>
                <ion-icon name="person" item-start></ion-icon>
                <p>
                    <b>Created By: </b>
                    <span>{{circular.employeName}}</span>
                </p>
            </ion-item>

            <ion-item>
                <ion-icon name="people" item-start></ion-icon>
                <p>
                    <b>Audience: </b>
                    <span>{{circular.mainAudienceName}}</span>
                </p>
            </ion-item>

            <ion-item *ngIf="circular.audiences">
                <ion-icon name="people" item-start></ion-icon>
                <p>
                    <b>SubAudience: </b>
                </p>
                <p *ngFor="let aud of circular.audiences">{{aud}}</p>
            </ion-item>

            <ion-item *ngIf="circular.departments">
                <ion-icon name="folder" item-start></ion-icon>
                <p>
                    <b>Departments: </b>
                </p>
                <p *ngFor="let dep of circular.departments">{{dep}}</p>
            </ion-item>

            <ion-item *ngIf="circular.programs">
                <ion-icon name="folder" item-start></ion-icon>
                <p>
                    <b>Programs: </b>
                </p>
                <p *ngFor="let pgm of circular.programs">{{pgm}}</p>
            </ion-item>


            <ion-item *ngIf="circular.modules">
                <ion-icon name="folder" item-start></ion-icon>
                <p>
                    <b>Modules: </b>
                </p>
                <p *ngFor="let md of circular.modules">{{md}}</p>
            </ion-item>

            <ion-item *ngIf="circular.years">
                <ion-icon name="folder" item-start></ion-icon>
                <p>
                    <b>Years: </b>
                </p>
                <p *ngFor="let y of circular.years">{{y}}</p>
            </ion-item>

            <ion-item *ngIf="circular.fileCount>0">

                <h4>Attachments:</h4>
                <a style="display:block" *ngFor="let file of circular.files;let i = index" (click)="onFileClick(file,i)">
                    {{file.fileOriginalName}}
                </a>
            </ion-item>

        </ion-card-content>
    </ion-card>
</ion-content> 

      