<ion-header>
    <nl-navbar [title]="title"></nl-navbar>
</ion-header>

<ion-content class="csGrayBackground">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-fab top right edge>
        <button ion-fab mini color="danger" (click)="openNewComplaintModal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <ion-list>

        <ion-item-sliding *ngFor="let complaint of complaintList; let i =index">

            <button ion-item (click)="openViewModal(complaint, i)">
                <h2 *ngIf="complaint.againstCategoryId != 2"><b>{{complaint.againstCategoryName}}</b></h2>
                <h2 *ngIf="complaint.againstCategoryId == 2"><b>{{complaint.againstEmployeeName}}</b></h2>
                
                <h3>{{complaint.title}}</h3>

                <ion-row>
                    <ion-col width-50 class="no-padding-l csGray5353">
                        <ion-icon name="clock"></ion-icon><span>{{complaint.createdAt | amTimeAgo}}</span>
                    </ion-col>
                    <ion-col width-50 class="no-padding-l" [style.color]="complaint.statusColor">
                        <ion-icon name="at"></ion-icon><span>{{complaint.statusName}}</span>
                    </ion-col>
                </ion-row>
            </button>

            <ion-item-options side="right">
                <c-s-options [complaint]="complaint"></c-s-options>
            </ion-item-options>

        </ion-item-sliding>

        <div *ngIf="isEmptyList">
            <ion-icon name="happy"></ion-icon>
            <br>NO RECORD FOUND
        </div>

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>