<ion-header>
  <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>


<ion-content class="view-complaint">
    <ion-item style="margin-bottom:10px;" no-lines no-padding no-padding-right [style.background]="complaint.statusColor || 'green'" *ngIf="complaint" text-center>
        <div flex>
            <div>
                <h1><ion-icon name="chatbubbles"></ion-icon></h1>Comment: <b>{{complaint.commentCount || 0}}</b>
            </div>
            <div>
                <img *ngIf="complaint.studentPicUrl" class="csAvatarImage" [src]="baseUrl + complaint.studentPicUrl" width="100px" height="100px">
                <img *ngIf="!complaint.studentPicUrl" class="csAvatarImage" src="assets/images/student.png" width="100px" height="100px">
            </div>
            <div>
                <h1><ion-icon name="pulse"></ion-icon></h1>Priority:<b>{{ complaint.priority }}</b>
            </div>
        </div>
        <ion-title>Student Name</ion-title>
        <div date>{{complaint.createdAt | amDateFormat:'LL'}}
            <span *ngIf="complaint.closedOn"> - {{complaint.closedOn | amDateFormat:'LL'}} </span>
        </div>
        
        <div flex buttons *ngIf="!isStudent">
          <button (click)="openCommentPage()" ion-button round  icon-left outline color="secondary" [style.border-color]="complaint.statusColor || 'green' " [style.color]="complaint.statusColor || 'green' ">
              <ion-icon name="chatbubbles"></ion-icon>
            Comment
          </button>
          <button (click)="editComplaint()" *ngIf="complaint.statusId != 6 && complaint.statusId != 4" ion-button  round icon-left outline color="secondary" [style.border-color]="complaint.statusColor || 'green' " [style.color]="complaint.statusColor || 'green' ">
              <ion-icon name="md-create"></ion-icon>
              Edit
            </button>
            <button (click)="openClosePage()" *ngIf="complaint.statusId != 6 && complaint.statusId != 4" ion-button round icon-left outline color="secondary" [style.border-color]="complaint.statusColor || 'green' " [style.color]="complaint.statusColor || 'green' ">
                <ion-icon name="md-remove-circle"></ion-icon>
              Close
            </button>
        </div>
    </ion-item>

  <ion-list *ngIf="complaint">
    <ion-item>
      <b>{{complaint.title}}</b>
      <p class="csParagraph">{{complaint.description}}</p>
    </ion-item>

    <ion-item *ngIf="complaint.rca">
        <ion-icon name="thumbs-up" [style.color]="complaint.statusColor" item-start></ion-icon>
        <span class="csFont12" [style.color]="complaint.statusColor">RCA</span>
        <br>
        <span class="csParagraph">{{complaint.rca}}</span>
      </ion-item>

    <ion-item *ngIf="complaint.againstCategoryName">
        <ion-icon name="ios-analytics" [style.color]="complaint.statusColor" item-start></ion-icon>
        <span class="csFont12" [style.color]="complaint.statusColor">Category</span>
        <br>
        <span class="csParagraph">{{complaint.againstCategoryName}}</span>
    </ion-item>

    <ion-item *ngIf="complaint.againstEmployeeName">
      <ion-icon name="contact" [style.color]="complaint.statusColor" item-start></ion-icon>
      <span class="csFont12" [style.color]="complaint.statusColor">Against</span>
      <br> {{complaint.againstEmployeeName}}
    </ion-item>

    <ion-item *ngIf="complaint.assignedEmployeeName">
      <ion-icon name="construct" [style.color]="complaint.statusColor" item-start></ion-icon>
      <span class="csFont12" [style.color]="complaint.statusColor">Assigned to</span>
      <br> {{complaint.assignedEmployeeName}}
    </ion-item>

    <ion-item *ngIf="complaint.anonymous">
      <ion-icon name="bug" [style.color]="complaint.statusColor" item-start></ion-icon>
      <span class="csFont12">
        <b>Anonymous {{complaintService.compOrSugg | titlecase}}</b>
      </span>
    </ion-item>
    <ion-item *ngIf="complaint.status">
        <ion-icon name="cloud-upload" [style.color]="complaint.statusColor" item-start></ion-icon>
        <span class="csFont12" [style.color]="complaint.statusColor">Status</span>
        <br> {{complaint.status}}
    </ion-item>
    
  </ion-list>
</ion-content>
