<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title | uppercase}}</ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top color="primary">
        <ion-segment [(ngModel)]="selectedDay" (ionChange)="onDayChange()">
            <ion-segment-button *ngFor="let day of daysName" [value]="day">
                <span class="textWhite">{{ day }}</span>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content class="background1">


    <ion-list>
        <ion-list-header>
            {{date | amDateFormat: 'LL'}}
        </ion-list-header>
        <ion-list no-lines>
            <ion-item-sliding *ngFor="let period of selectedDayTimetable">
                <button ion-item detail-none class="timetable-item">
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col col-4 class="border border-right-progress left-col" text-right>
                                <!-- <h2 class="textLarge">{{period.startTime}}</h2> -->
                                <span class="textGray">{{period.startTime}}-{{period.endTime}}</span>
                                <div>
                                    <span class="colorInProgress textSmall">Room No.: {{period.roomNumber}}</span>
                                </div>
                            </ion-col>
                            <ion-col col-8 col-8 class="border border-left-progress right-col">
                                <span>
                                    <p class="textLarge">{{period.moduleName}}</p>
                                </span>
                                <span class="textGray">
                                    {{period.programName}}
                                </span>
                                <div>
                                    <span class="textSmall">
                                        <b>{{period.yearName}} year</b>
                                    </span>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </button>
                <ion-item-options side="right" icon-start>
                    <button ion-button color="primary" (click)="showoptions(period)">
                        <ion-icon name="add"></ion-icon>
                        Options
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-list *ngIf="timetableData && (!selectedDayTimetable || selectedDayTimetable?.length==0)">
            <ion-item>
                <h1>NO MODULE ON THIS DAY</h1>
            </ion-item>
        </ion-list>

    </ion-list>


    <!-- NEW TIME TABLE BUTTON -->

    <ion-fab *ngIf="isAdmin" right bottom>
        <button ion-fab (click)="createNewTimeTable()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>