<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()"></nl-modal-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-label> Module: {{timeTableInfo.moduleName}}</ion-label>
        <ion-label> Year: {{timeTableInfo.yearName}}</ion-label>
    </ion-card>


    <form #newAttendanceForm="ngForm" (ngSubmit)="onSubmit()">

        <ion-card>
            <ion-item>
                <ion-label>Date </ion-label>
                <ion-datetime [(ngModel)]="selectedDate" displayFormat="MMM DD YYYY" pickerFormat="DD MMM YYYY" name="date"></ion-datetime>
            </ion-item>
        </ion-card>

        <ion-card *ngIf="studentsList && studentsList.length!=0">
            <ion-item>
                <ion-label>Mark All Unselected as Present </ion-label>
                <ion-checkbox (ionChange)="setStudentsAttendanceAsPresent($event)"></ion-checkbox>
            </ion-item>
        </ion-card>

        <ion-item>
            <ion-label>
                Students List
            </ion-label>
            <div item-content>
                <button ion-button icon-only type="button" (click)="openStudentAttendanceSearch()">
                    <ion-icon name="search" ></ion-icon>
                </button>
            </div>
        </ion-item>

        <div style="height:310px;overflow:auto">

            <ion-card>
                <div *ngFor="let student of studentsList;let i=index">
                    <ion-label> {{student.name}} </ion-label>
                    <ion-list radio-group [(ngModel)]="student.attendance" required name="attendance{{i}}">
                        <ion-row>

                            <ion-col>
                                <span>P</span>
                                <ion-radio value="P">P</ion-radio>
                            </ion-col>
                            <ion-col>
                                <span>A</span>
                                <ion-radio value="A"></ion-radio>
                            </ion-col>
                            <ion-col>
                                <span>L</span>
                                <ion-radio value="L"></ion-radio>
                            </ion-col>
                        </ion-row>
                    </ion-list>
                </div>
            </ion-card>
        </div>
        <button ion-button block type="submit" [disabled]="newAttendanceForm.invalid">SUBMIT</button>
    </form>
</ion-content>