<ion-header>
    <nl-modal-navbar [title]="title" (modalClosed)="dismiss()">
        <button ion-button clear (click)="showInfo=!showInfo">
            <ion-icon name="information-circle" class="csWhiteText csFont18em"></ion-icon>
        </button>
    </nl-modal-navbar>
</ion-header>

<ion-content class="csGrayBackground">

    <ion-card *ngIf="surveyFromList && showInfo">
        <ion-card-header>
            {{surveyFromList.title}}<br>
            {{surveyFromList.description}}
        </ion-card-header>

        <ion-card-content>

            <ion-item>
                <ion-icon name="clock" item-start></ion-icon>
                <p>
                    <b>Created : </b>
                    <span>{{surveyFromList.createdAt | amTimeAgo}}</span>
                </p>
            </ion-item>

            <ion-item *ngIf="surveyFromList.expiredAt">
                <ion-icon name="clock" item-start></ion-icon>
                <p>
                    <b>Expires: </b>
                    <span>{{surveyFromList.expiredAt | amDateFormat: 'LL'}}</span>
                </p>
            </ion-item>

          
        </ion-card-content>
    </ion-card>




    <ion-list *ngIf="survey">

            <ion-card *ngFor="let q of survey; let i = index">
                <ion-card-header>
                    {{q.question}}
                    <p class="csParagraph smallGrayText">{{q.optionTypeName}}</p>
                </ion-card-header>
                <ion-card-content>

                    <div class="csPollOptionsBack">
                        <div *ngIf="q.optionTypeId== 2">
                            <ion-list>
                                <ion-item *ngFor="let option of q.options, let j=index" class="csPaddingLeft50 csqOptionsBack">
                                    <ion-label>{{option.name}}</ion-label>
                                    <ion-checkbox checked="false" [(ngModel)]="q.selectedOptions[j]" (click)="changeVoteBtnStatus()"  item-end
                                        color="primary">
                                    </ion-checkbox>
                                </ion-item>
                            </ion-list>
                        </div>

                        <div *ngIf="q.optionTypeId == 1">
                            <ion-list radio-group [(ngModel)]="q.selectedOptions"  >
                                <ion-item *ngFor="let option of q.options" class="csPaddingLeft50 csPollOptionsBack">
                                    <ion-label>{{option.name}}</ion-label>
                                    <ion-radio checked="false" [value]="[option.id]" (click)="changeVoteBtnStatus()">
                                    </ion-radio>
                                </ion-item>
                            </ion-list>
                        </div>
                    </div>

                </ion-card-content>
            </ion-card>

            <div padding>
                <button [disabled]="isSubmitBtnDisabled" ion-button full type="button" (click)="onSubmit()">Vote</button>
            </div>
      
    </ion-list>
</ion-content>